<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Website - About</title>
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>
        <h1>Jordan Wilson</h1>
        <p> I'm a Twenty-one year old computer science student.<br> 
            I'm currently in my last year, hopefully. I've enjoy watching shows and movies and <br>
            recently fell back in love with reading. I also enjoy go on trips with my friends. </p>
    </body>
</html>